<!doctype html>
<html lang="en">
<head>
    <title>Edycja uczenia</title>
    <!-- Required meta tags -->
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous"/>
</head>
<body>
<div class="container">
    <form action="#" th:action="@{/uczniowie/zapiszEdytowanego/{idUcznia}(idUcznia=*{idUcznia})}" th:object="${edytowany}" method="post">
        <div class="form-group">
            <label for="imie">Imię ucznia</label>
            <input th:errorclass="is-invalid" th:classappend="${#fields.hasAnyErrors() and not #fields.hasErrors('imie')}? is-valid" type="text" class="form-control" id="imie" name="imie" th:value="*{imie}" aria-describedby="imieHelp" placeholder="Podaj imię"/>
            <div class="invalid-feedback" th:if="${#fields.hasErrors('imie')}" th:errors="*{imie}">
                Please provide a valid name.
            </div>
        </div>

        <div class="form-group">
            <label for="nazwisko">Nazwisko ucznia</label>
            <input th:errorclass="is-invalid" th:classappend="${#fields.hasAnyErrors() and not #fields.hasErrors('nazwisko')}? is-valid" type="text" class="form-control" id="nazwisko" name="nazwisko" th:value="*{nazwisko}" aria-describedby="nazwiskoHelp" placeholder="Podaj nazwisko"/>
            <div class="invalid-feedback" th:if="${#fields.hasErrors('nazwisko')}" th:errors="*{nazwisko}">
                Please provide a valid surname.
            </div>
        </div>

        <div class="form-group">
            <label for="pesel">PESEL ucznia</label>
            <input th:errorclass="is-invalid" th:classappend="${#fields.hasAnyErrors() and not #fields.hasErrors('pesel')}? is-valid" type="text" class="form-control" id="pesel" name="pesel" th:value="*{pesel}" aria-describedby="peselHelp" placeholder="Podaj pesel"/>
            <div class="invalid-feedback" th:if="${#fields.hasErrors('pesel')}" th:errors="*{pesel}">
                Please provide a valid pesel.
            </div>
        </div>

        <div class="form-group" id="klasa">
            <label for="klasa">Klasa</label>
            <select th:field="*{idKlasy}">
                <option th:selected="${klasa.idKlasy} eq *{idKlasy}" th:each="klasa : ${listaKlas}" th:value="${klasa.idKlasy}" value="1" th:text="${klasa.rokRozpoczeciaNauki + klasa.symbol}">Klasa 1A</option>
            </select>
            <div class="invalid-feedback" th:if="${#fields.hasErrors('idKlasy')}" th:errors="*{idKlasy}">
                Please provide a class for student.
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Zapisz ucznia</button>
    </form>
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
</body>
</html>