<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<body>

<form th:action="@{/licznik}" method="post">
    <input type="text" name="wpisanyTekst" />
    <button type="submit">Dodaj tekst</button>
</form>


<p th:each="tekst, rowStat : ${zbiorTekstow}">
    <span th:text="${tekst}">wpisany tekst</span>
    <a th:href="@{/licznik/usun(indeks=${rowStat.index})}">Usun</a>
</p>


</body>

</html>
