<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Lista uczniów</title>
    <!-- Required meta tags -->
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous"/>
</head>
<body>
<div class="container">
    <a href="/login-form">Zaloguj mnie</a>
        <table class="table">
            <thead>
                <th th:text="#{uczen.imie}">imie</th>
                <th th:text="#{uczen.nazwisko}">nazwisko</th>
                <th th:text="#{uczen.pesel}">pes</th>
                <th>Klasa</th>
                <th>Usun</th>
                <th>Edycja</th>
            </thead>
            <tbody>
                <tr th:each="uczen : ${listaUczniow}">
                    <td th:text="${uczen.imie}">Szymon</td>
                    <td th:text="${uczen.nazwisko}">Dembek</td>
                    <td th:text="${uczen.pesel}">24213123</td>
                    <td><span th:if="${uczen.klasa} != null" th:text="${#strings.concatReplaceNulls('', uczen.klasa.symbol,  uczen.klasa.rokRozpoczeciaNauki)}">A2010</span></td>
                    <td><a class="btn btn-danger" th:href="@{/uczniowie/usun/{idUcznia}(idUcznia=${uczen.idUcznia})}">Usun ucznia</a></td>
                    <td><a class="btn btn-warning" th:href="@{/uczniowie/edytuj/{idUcznia}(idUcznia=${uczen.idUcznia})}">Edycja ucznia</a></td>
                </tr>
            </tbody>
        </table>
        <form method="get" action="/uczniowie">
            <select name="size">
                <option>5</option>
                <option>10</option>
                <option>20</option>
                <option>50</option>
                <option>100</option>
            </select>
            <button type="submit">zmien rozmiar</button>
        </form>

        <nav aria-label="Page navigation example">
            <ul class="pagination">
                <li class="page-item">
                    <a class="page-link" href="#"
                       th:href="@{/uczniowie(size=${listaUczniow.size},page=0)}"
                       aria-label="First">
                        <span aria-hidden="true">&lt;&lt;</span>
                        <span class="sr-only">First</span>
                    </a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="#"
                       th:href="@{/uczniowie(size=${listaUczniow.size},page=${listaUczniow.hasPrevious() ? listaUczniow.previousPageable().pageNumber : 0})}"
                       aria-label="Previous">
                        <span aria-hidden="true">&lt;</span>
                        <span class="sr-only">Previous</span>
                    </a>
                </li>


                <li class="page-item">
                    <a class="page-link"
                       th:text="${listaUczniow.number + 1}"
                       th:href="@{/uczniowie(page=${listaUczniow.number}, size=${listaUczniow.size})}"
                       href="#">1</a></li>


                <li class="page-item">
                    <a class="page-link" href="#"
                       th:href="@{/uczniowie(page=${listaUczniow.hasNext() ? listaUczniow.nextPageable().pageNumber : listaUczniow.totalPages - 1}, size=${listaUczniow.size})}"
                       aria-label="Next">
                        <span aria-hidden="true">&gt;</span>
                        <span class="sr-only">Next</span>
                    </a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="#"
                       th:href="@{/uczniowie(page=${listaUczniow.totalPages - 1},size=${listaUczniow.size})}"
                       aria-label="Last">
                        <span aria-hidden="true">&gt;&gt;</span>
                        <span class="sr-only">Last</span>
                    </a>
                </li>
            </ul>
    </nav>

        <a class="btn btn-primary" th:href="@{/uczniowie/dodaj}">Nowy uczen</a>
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
</body>
</html>
