<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Lista klas</title>
    <!-- Required meta tags -->
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous"/>
</head>
<body>
<div class="container">
        <form th:action="@{/wyloguj}" method="post">
            <button type="submit">Wyloguj</button>
        </form>

        <table class="table">
            <thead>
                <th>Rok rozpoczęcia nauki</th>
                <th>Symbol</th>
                <th>Ilość uczniów</th>
                <th>Usun</th>
                <th>Edycja</th>
            </thead>
            <tbody>
                <tr th:each="klasa : ${listaKlas}">
                    <td th:text="${klasa.rokRozpoczeciaNauki}">2010</td>
                    <td th:text="${klasa.symbol}">A</td>
                    <td th:text="${klasa.iloscUczniow}">0</td>
                    <td><a class="btn btn-danger" th:href="@{/klasy/usun/{idKlasy}(idKlasy=${klasa.idKlasy})}">Usuń klasę</a></td>
                    <td><a class="btn btn-warning" th:href="@{/klasy/edytuj/{idKlasy}(idKlasy=${klasa.idKlasy})}">Edycja klasy</a></td>
                </tr>
            </tbody>
        </table>
        <a class="btn btn-primary" th:href="@{/klasy/dodaj}">Nowa klasa</a>
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
</body>
</html>
