<!doctype html>
<html lang="en">
<head>
    <title>Nowa klasa</title>
    <!-- Required meta tags -->
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous"/>
</head>
<body>
    <div class="container">
        <div class="card">
            <div class="card-header">
                <h2>Nowa klasa</h2>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <form action="#" th:action="@{/klasy/zapiszNowa}" th:object="${nowa}" method="post">
                            <div class="form-group">
                                <label for="rokRozpoczeciaNauki">Rok rozpoczęcia nauki klasy</label>
                                <input th:errorclass="is-invalid" th:classappend="${#fields.hasAnyErrors() and not #fields.hasErrors('rokRozpoczeciaNauki')}? is-valid" type="text" class="form-control" id="rokRozpoczeciaNauki" name="rokRozpoczeciaNauki" th:value="*{rokRozpoczeciaNauki}" placeholder="Podaj rok rozpoczęcia nauki"/>
                                <div class="invalid-feedback" th:if="${#fields.hasErrors('rokRozpoczeciaNauki')}" th:errors="*{rokRozpoczeciaNauki}">
                                    Please provide a valid year.
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="symbol">Symbol klasy</label>
                                <input th:errorclass="is-invalid" th:classappend="${#fields.hasAnyErrors() and not #fields.hasErrors('symbol')}? is-valid" type="text" class="form-control" id="symbol" name="symbol" th:value="*{symbol}" placeholder="Podaj symbol"/>
                                <div class="invalid-feedback" th:if="${#fields.hasErrors('symbol')}" th:errors="*{symbol}">
                                    Please provide a valid symbol.
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary">Zapisz klasę</button>
                        </form>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col">
                        <div class="card">
                            <div class="card-header">
                                <h3>Uczniowie w klasie</h3>
                            </div>
                            <div class="card-body">
                                <table class="table">
                                    <thead>
                                    <th th:text="#{uczen.imie}">imie</th>
                                    <th th:text="#{uczen.nazwisko}">nazwisko</th>
                                    <th th:text="#{uczen.pesel}">pes</th>
                                    <th>Usun</th>
                                    </thead>
                                    <tbody>
                                    <tr th:each="uczen, rowStat : ${listaUczniow}">
                                        <td th:text="${uczen.imie}">Szymon</td>
                                        <td th:text="${uczen.nazwisko}">Dembek</td>
                                        <td th:text="${uczen.pesel}">24213123</td>
                                        <td><a class="btn btn-danger" th:href="@{/klasy/klasaUczniowie/usunUcznia(nrUcznia=${rowStat.index})}">Usun ucznia</a></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                    <div class="col">
                        <div class="card">
                            <div class="card-header">
                                <h3>Dodaj ucznia do klasy</h3>
                            </div>
                            <div class="card-body">
                                <form action="#" th:action="@{/klasy/klasaUczniowie/dodajNowego}" th:object="${nowy}" method="post">
                                    <div class="form-group">
                                        <label for="imie">Imię ucznia</label>
                                        <input th:errorclass="is-invalid" th:classappend="${#fields.hasAnyErrors() and not #fields.hasErrors('imie')}? is-valid" type="text" class="form-control" id="imie" name="imie" th:value="*{imie}" aria-describedby="imieHelp" placeholder="Podaj imię"/>
                                        <div class="invalid-feedback" th:if="${#fields.hasErrors('imie')}" th:errors="*{imie}">
                                            Please provide a valid name.
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="nazwisko">Nazwisko ucznia</label>
                                        <input th:errorclass="is-invalid" th:classappend="${#fields.hasAnyErrors() and not #fields.hasErrors('nazwisko')}? is-valid" type="text" class="form-control" id="nazwisko" name="nazwisko" th:value="*{nazwisko}" aria-describedby="nazwiskoHelp" placeholder="Podaj nazwisko"/>
                                        <div class="invalid-feedback" th:if="${#fields.hasErrors('nazwisko')}" th:errors="*{nazwisko}">
                                            Please provide a valid surname.
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="pesel">PESEL ucznia</label>
                                        <input th:errorclass="is-invalid" th:classappend="${#fields.hasAnyErrors() and not #fields.hasErrors('pesel')}? is-valid" type="text" class="form-control" id="pesel" name="pesel" th:value="*{pesel}" aria-describedby="peselHelp" placeholder="Podaj pesel"/>
                                        <div class="invalid-feedback" th:if="${#fields.hasErrors('pesel')}" th:errors="*{pesel}">
                                            Please provide a valid pesel.
                                        </div>
                                    </div>
                                    <button type="submit" class="btn btn-primary">Zapisz ucznia</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
</body>
</html>